ROSTemplateFormatVersion: '2015-09-01'
Transform: 'Aliyun::Serverless-2018-04-03'
Resources:
  dingtalk-callback: # service name
    Type: 'Aliyun::Serverless::Service'
    Properties:
      Description: 'The callback of DingTalk'
      InternetAccess: true
      {{ if $USING_VPC }}
      VpcConfig:
        VpcId: {{ $VPC_ID }}
        {{ $switches := split "," $VPC_SWITCH_IDS }}
        VSwitchIds: [ {{ range $index, $switch := $switches }} {{ if gt $index 0 }} , {{ end }} '{{ $switch }}' {{ end }} ]
        SecurityGroupId: {{ $SECURITY_GROUP_ID }}
      {{ end }}
      {{ if $USING_LOG }}
      LogConfig:
        Project: {{ $LOG_PROJECT }}
        Logstore: {{ $LOG_STORE }}
      {{ end }}
    callback: # function name
      Type: 'Aliyun::Serverless::Function'
      Properties:
        Initializer: com.github.zxkane.dingtalk.Callback::initialize
        Handler: com.github.zxkane.dingtalk.Callback::handleRequest
        Runtime: java8
        Description: 'Dingtalk callbacks'
        MemorySize: 196
        InitializationTimeout: 15
        Timeout: 30
        CodeUri: './build/libs/dingtalk-callback-all-1.0.0-SNAPSHOT-all.jar'
        EnvironmentVariables:
          DD_TOKEN: {{ $DD_TOKEN }}
          DD_AES_KEY: {{ $DD_AES_KEY }}
          DD_CORPID: {{ $DD_CORPID }}
          DTS_ENDPOINT: {{ $DTS_ENDPOINT }}
          DTS_INSTANCE_NAME: {{ $DTS_INSTANCE_NAME }}
          DTS_ACCESS_KEY: {{ $DTS_ACCESS_KEY }}
          DTS_KEY_SECRET: {{ $DTS_KEY_SECRET }}
  dingtalk_callback_gateway: # Api Group
    Type: 'Aliyun::Serverless::Api'
    Properties:
      StageName: RELEASE
      DefinitionBody:
        '/dingtalk':
          post:
            x-aliyun-apigateway-api-name: callback
            x-aliyun-apigateway-request-config:
              requestProtocol: "HTTP"
              requestMode: "MAPPING"
              bodyFormat: "STREAM"
            x-aliyun-apigateway-request-parameters:
              - apiParameterName: 'timestamp'
                location: 'Query'
                parameterType: 'String'
                required: 'REQUIRED'
              - apiParameterName: 'nonce'
                location: 'Query'
                parameterType: 'String'
                required: 'REQUIRED'
              - apiParameterName: 'signature'
                location: 'Query'
                parameterType: 'String'
                required: 'REQUIRED'
            x-aliyun-apigateway-fc:
              arn: acs:fc:::services/${dingtalk-callback.Arn}/functions/${callback.Arn}/
              timeout: 45000
  dingtalk:
    Type: 'Aliyun::Serverless::TableStore'
    Properties:
      ClusterType: HYBRID
      Description: dingtalk events
    bpm_raw:
      Type: 'Aliyun::Serverless::TableStore::Table'
      Properties:
          PrimaryKeyList:
            - Name: processInstanceId
              Type: STRING